body {
  background: url('xii.jpg'); no-repeat center;
  background-size: 400px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: grey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
  text-align: center;
}

h2 {
  color: darkblue;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

button {
  background: darkblue;
  color: white;
  border: none;
}

button:hover {
  background: blue;
}